---
layout: base
title: FOIA
permalink: /hh/foia/
---

<div class="row mb-5">
  <div class="col-12">
    <div class="results row">

      <div class="col-md-4 mb-3">
        Risultati trovati: {{ site.atto | size }}
      </div>

      {% assign atti_ordinati = site.atto | sort: "publication_start" | reverse %}

      {% for atto in atti_ordinati %}
      <div class="col-12 amministrazione amministrazione-primary mb-4">
        
        <div class="row">
          <div class="col-md-4 fw-bold">Tipologia dell'atto:</div>
          <div class="col-md-8">{{ atto.tipologia }}</div>
        </div>

        <div class="row">
          <div class="col-md-4 fw-bold">Ufficio:</div>
          <div class="col-md-8">{{ atto.ufficio }}</div>
        </div>

        <div class="row">
          <div class="col-md-4 fw-bold">Oggetto:</div>
          <div class="col-md-8">
            <a href="{{ atto.url }}">{{ atto.title }}</a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 fw-bold">Periodo di pubblicazione:</div>
          <div class="col-md-8">
            dal {{ atto.publication_start | date: "%d/%m/%y" }}
            al {{ atto.publication_end | date: "%d/%m/%y" }}
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 fw-bold">Numero atto:</div>
          <div class="col-md-8">{{ atto.numero }}</div>
        </div>

        {% if atto.nota %}
        <div class="row">
          <div class="col-md-4 fw-bold">Nota:</div>
          <div class="col-md-8">{{ atto.nota }}</div>
        </div>
        {% endif %}

      </div>
      {% endfor %}

    </div>
  </div>
</div>