<header id="mainheader" class="it-header-wrapper it-header-sticky headerpnrr">
   <div class="barrafvg it-header-slim-wrapper">
      <div class="container it-header-slim-wrapper-content p-0">
         <div>
            <a href="https://18f.it" aria-label="vai al sito 18F" target="_blank" class="d-none d-lg-block">SITO GESTITO DA GABRIEL JONES</a>
            <div class="fvg-mobile"><a href="https://18f.it" aria-label="vai al sito 18F" target="_blank"><b>SITO GESTITO DA GABRIEL JONES</b></a></div>
            <!----><!----><!---->
         </div>
         <div class="it-header-slim-right-zone">
            <div class="nav-item d-flex">
               <!----><!---->
               <app-header-profile>
                  <a class="btn btn-regione btn-icon btn-full">
                     <span class="rounded-icon">
                        <svg role="presentation" aria-label="utente" class="icon icon-primary">
                           <use xlink:href="{{ site.url }}/sprite.svg#it-user"></use>
                        </svg>
                     </span>
                     <span class="d-none d-lg-block">Accedi all'area personale</span><!----><!----><!---->
                  </a>
                  <!----><!----><!----><!----><!---->
               </app-header-profile>
               <!---->
            </div>
         </div>
      </div>
   </div>
   <div class="it-nav-wrapper">
      <div class="it-header-center-wrapper">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <div class="it-header-center-content-wrapper">
                     <div class="it-brand-wrapper">
                        <a href="/it">
                           <img alt="Desk Gabriel Jones" src="{{ site.logo }}" style="height: 82px;">
                           <div class="it-brand-text">
                              <div class="it-brand-title">Desk Gabriel Jones</div>
                              <div class="it-brand-tagline d-none d-md-block"></div>
                           </div>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>















<div class="it-header-navbar-wrapper"><div class="container"><div class="row"><div class="col-12"><nav aria-label="Navigazione principale" class="navbar navbar-expand-lg has-megamenu"><button type="button" aria-controls="navC1" aria-expanded="false" aria-label="Mostra/Nascondi la navigazione" data-bs-target="#navC1" class="custom-navbar-toggler"><svg aria-label="Mostra/Nascondi la navigazione" class="icon"><use href="assets/bootstrap-italia/svg/sprite.svg#it-burger"></use></svg></button><div id="navC1" class="navbar-collapsable"><div class="overlay"></div><div class="close-div"><div type="button" class="btn close-menu"><span class="visually-hidden">Nascondi la navigazione</span><svg aria-label="chiudi" class="icon icon-white"><use href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use></svg></div></div><div class="menu-wrapper"><ul data-element="main-navigation" class="navbar-nav"><!----><!----><!---->                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle testi show" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true" id="menuDropdown2" data-focus-mouse="false">
                                                <span>Menu Dropdown</span>
                                                <svg class="icon icon-xs">
                                                    <use href="https://bw.jareads.org/sprites.svg#it-expand"></use>
                                                </svg>
                                            </a>
                                            <div class="dropdown-menu show" role="region" aria-labelledby="menuDropdown2" data-bs-popper="none">
                                                <div class="link-list-wrapper">
                                                    <ul class="link-list">
                                                        
                                                            
                                                                <li><a class="dropdown-item list-item" href="#"><span>Link lista 1</span></a></li>
                                                            
                                                        
                                                            
                                                                <li><a class="dropdown-item list-item" href="#"><span>Link lista 2</span></a></li>
                                                            
                                                        
                                                            
                                                                <li><a class="dropdown-item list-item" href="#"><span>Link lista 3</span></a></li>
                                                            
                                                        
                                                            
                                                                <li><span class="divider"></span></li>
                                                            
                                                        
                                                            
                                                                <li><a class="dropdown-item list-item" href="#"><span>Link lista 4</span></a></li>
                                                            
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                        </li><!----></ul><ul class="navbar-nav" style="justify-content: flex-end;"><!----><!----><!----><li class="nav-item ng-star-inserted" id="menu_drop_down_right0"><!----><!----><a href="/it/guide-223180/sportello-al-cittadino-sac-193935" routerlinkactive="active" class="nav-link ps-0 ng-star-inserted"> Sportello SAC </a><!----><!----><!----></li><li class="nav-item ng-star-inserted" id="menu_drop_down_right1"><!----><!----><a href="/it/guide-223180" routerlinkactive="active" class="nav-link ng-star-inserted"> Guide </a><!----><!----><!----></li><li class="nav-item ng-star-inserted" id="menu_drop_down_right2"><!----><a class="nav-link fw-bold ng-star-inserted" target="_self" href="it/categories" data-element="all-topics"> Argomenti </a><!----><!----><!----><!----></li><!----></ul></div></div></nav></div></div></div></div>
                                        
   </div>
</header>