<script src="
https://cdn.jsdelivr.net/npm/bootstrap-italia@2.17.4/dist/js/bootstrap-italia.bundle.min.js
"></script>
<link href="
https://cdn.jsdelivr.net/npm/bootstrap-italia@2.17.4/dist/css/bootstrap-italia.min.css
" rel="stylesheet">

<link href="
https://www.comune.trieste.it/assets/static/styles_trieste.css
" rel="stylesheet">

<style>
.testi {
    color: #ab2016; /* testo nero */
}

/* Opzionale: se vuoi anche che i link della navbar siano neri */
.testi a {
    color: #ab2016;
}

.testi a:hover {
    color: #000; /* leggero effetto al passaggio del mouse */
}
</style>

