---
layout: default
---


<section class="section bg-white">
        <div class="container container-border-top">
          <div class="row variable-gutters">
            <div class="col-lg-3 col-md-4 aside-border px-0">
              <aside class="aside-main aside-sticky">
                <div class="aside-title" id="page-index">
                  <a class="toggle-link-list" data-toggle="collapse" href="#lista-paragrafi" role="button" aria-expanded="true" aria-controls="lista-paragrafi" aria-label="apri / chiudi indice della pagina">
                    <span>Indice della pagina</span>
                    <svg class="icon icon-toggle svg-arrow-down-small">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow-down-small"></use>
                    </svg>
                  </a>
                </div>
                <div id="lista-paragrafi" class="link-list-wrapper collapse show" role="region" aria-labelledby="page-index">
                  <ul class="link-list">
                    <li>
                      <a class="list-item scroll-anchor-offset" href="#art-par-01">Descrizione</a>
                    </li>
                    <li>
                      <a class="list-item scroll-anchor-offset" href="#art-par-04">Accesso al file</a>
                    </li>
                    <li>
                      <a class="list-item scroll-anchor-offset" href="#art-par-05">Disponibilità del file</a>
                    </li>
                    <li>
                      <a class="list-item scroll-anchor-offset" href="#art-par-06">Ulteriori informazioni</a>
                    </li>
                  </ul>
                </div>
              </aside>

            </div>
            <div class="col-lg-8 col-md-8 offset-lg-1 pt84">
              <article class="article-wrapper">
                <h2 class="h4" id="art-par-01">Descrizione</h2>
                <div class="row variable-gutters">
                  <div class="col-lg-9">
                    <div class="article-description">
                      <p>{{ content }}</p>
                    </div><!-- /article-description -->
                  </div><!-- /col-lg-9 -->
                </div><!-- /row -->
                <div class="row variable-gutters mb-4">
                  <div class="col-lg-12">
                    <h3 class="h6 mt-4">Autori</h3>
                    <div class="card-deck card-deck-spaced mb-2">
                      <div class="card card-bg card-avatar rounded">
                        <a href="#">
                          <div class="card-body">
                            <div class="card-avatar-img">
                              <img src="{{ site.url }}/images/404.jpg" alt="Immagine profilo">
                            </div><!-- /card-avatar-img -->
                            <div class="card-avatar-content">
                              <p>Gabriel Jones</p>
                              <small>Responsabile documento</small>
                            </div><!-- /card-avatar-content -->
                          </div><!-- /card-body -->
                        </a>
                      </div><!-- /card card-bg card-avatar rounded -->
                    </div><!-- /card-deck -->
                  </div><!-- /col-lg-9 -->
                </div><!-- /row -->
                <h3 class="h6">Allegati</h3>
                <div class="row variable-gutters">
                  <div class="col-lg-12">
                    <div class="card-deck card-deck-spaced">
                      <div class="card card-bg card-icon rounded">
                        <a href="{{ page.doc }}">
                          <div class="card-body">
                            <svg class="icon it-pdf-document">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/pvw2/img/sprite.svg#it-pdf-document"></use>
                            </svg>
                            <div class="card-icon-content">
                              <p><strong>Titolo del documento (PDF)</strong></p>
                              <small>Pubblicato da Gabriel Jones</small>
                            </div><!-- /card-icon-content -->
                          </div><!-- /card-body -->
                        </a>
                      </div><!-- /card card-bg card-icon rounded -->
                    </div><!-- /card-deck card-deck-spaced -->
                  </div><!-- /col-lg-12 -->
                </div><!-- /row -->

                <h2 class="h4" id="art-par-04">Accesso al documento</h2>
                <div class="row variable-gutters">
                  <div class="col-lg-9">
                    <div class="calendar-vertical mb-5">
                      <div class="calendar-date">
                        <div class="calendar-date-description rounded">
                          <div class="calendar-date-description-content">
                            <p>Data d'inizio</p>
                          </div><!-- /calendar-date-description-content -->
                        </div><!-- /calendar-date-description -->
                        <h4 class="calendar-date-day">
                          <p>{{ page.date }}</p>
                        </h4><!-- /calendar-date-day -->
                      </div><!-- /calendar-date -->

                      
                    </div><!-- /calendar-vertical -->
                  </div><!-- /col-lg-9 -->
                </div><!-- /row -->

                <h2 class="h4" id="art-par-05">Accesso Documento</h2>
                <div class="h6">AUTORE DOCUMENTO</div>
                <div class="row variable-gutters mb-4">
                  <div class="col-lg-12">
                    <div class="card-deck card-deck-spaced">


                      <div class="card card-bg card-icon-main rounded">
                        <a href="#" aria-describedby="card-desc-53">
                          <div class="card-body">
                            <svg class="icon" aria-hidden="true" width="100%" height="100%" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
                              <g id="entrance-door-exit-arrow-door-entrance">
                                <path id="Path" d="M75.128,0c0.025,0 0.046,0.013 0.07,0.014c0.225,0.008 0.447,0.045 0.655,0.132c0.01,0.004 0.019,0.012 0.029,0.017c0.122,0.053 0.241,0.116 0.351,0.196c0.059,0.043 0.106,0.099 0.16,0.148c0.032,0.029 0.063,0.055 0.093,0.086c0.144,0.152 0.26,0.325 0.346,0.514c0.017,0.037 0.027,0.075 0.042,0.113c0.079,0.209 0.133,0.428 0.133,0.658l0,93.911l7.512,0l0,3.756l-84.519,0l0,-3.756l9.391,0l0,-93.911c0,-1.037 0.84,-1.878 1.878,-1.878l63.859,0Zm-18.967,95.789l-18.965,-3.793c-0.877,-0.176 -1.51,-0.947 -1.51,-1.842l0,-76.067c0,-0.814 0.525,-1.536 1.297,-1.787l26.288,-8.544l-50.124,0l0,92.033l43.014,0Z" style="fill:#d1344c;fill-rule:nonzero;"></path>
                                <path id="Path1" serif:id="Path" d="M39.442,88.614l0,-73.163l33.808,-10.987l0,90.912l-33.808,-6.762Z" style="fill:#ffccd4;fill-rule:nonzero;"></path>
                                <rect id="Rectangle" x="43.199" y="54.468" width="5.635" height="3.756" style="fill:#d1344c;"></rect>
                                <path id="Path2" serif:id="Path" d="M99.45,43.749l-7.968,-7.969c-0.704,-0.704 -1.952,-0.704 -2.656,0l-7.968,7.969c-0.733,0.734 -0.733,1.922 0,2.656c0.734,0.734 1.923,0.734 2.656,0l4.762,-4.762l0,27.851l3.756,0l0,-27.851l4.762,4.762c0.367,0.367 0.847,0.55 1.328,0.55c0.48,0 0.961,-0.183 1.328,-0.55c0.733,-0.734 0.733,-1.922 0,-2.656Z" style="fill:#d1344c;fill-rule:nonzero;"></path>
                              </g>
                            </svg>
                            <div class="card-icon-content" id="card-desc-53">
                              <p><strong>gjones/@bw</strong></p>
                            </div><!-- /card-icon-content -->
                          </div><!-- /card-body -->
                        </a>
                      </div><!-- /card card-bg card-icon-main rounded -->

                    </div><!-- /card-deck card-deck-spaced -->
                  </div><!-- /col-lg-12 -->
                </div>
                <h2 class="h4" id="art-par-06">Ulteriori informazioni</h2>
                <div class="row variable-gutters">
                  <div class="col-lg-9">
                    <div class="article-footer">
                      <p><strong>Pubblicato:</strong> {{ page.date }} <span>-</span> <strong>Revisione:</strong> {{ page.date }}
                      </p>
                      <p><strong>Accesso:</strong> {{ page.layout }} <span>
                    </div><!-- /article-footer -->
                  </div><!-- /col-lg-9 -->
                </div><!-- /row -->
              </article>
            </div><!-- /col-lg-8 -->
          </div><!-- /row -->
        </div><!-- /container -->
      </section>
